<h1>Register</h1>

{{#if errors.length}}
<p>Could not register because:</p>
<ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

<form action="/register" method="POST">
    <div>
        Username: <input type="text" name="username" value="{{username}}" required>
    </div>
    <div>
        Password: <input type="password" name="password"required>
    </div>
    <div>
        Birthdate: <input type="date" name="birthdate"required>
    </div>
    <div>
        City: <input type="text" name="city"required>
    </div>
    <input type="submit" value="Register">
</form>
<p>Already have an account: <a href="/login">Login</a></p>
